@import "../../../assets/styles/index.scss";

.dashboard-chat {
    width: 65%;
    height: 100%;

    box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);

    .chat-header {
        width: 100%;

        padding: 1rem 1.5rem;

        display: flex;

        border-bottom: 0.01rem solid #f0eff5;

        .header-name {
            width: 40%;

            img {
                width: 2.2rem;
                height: 2.2rem;

                border-radius: 50%;
                object-fit: contain;
            }

            h5 {
                width: 80%;

                text-transform: capitalize;

                .icon {
                    width: 0.6rem;
                    height: 0.6rem;
                }
            }
        }

        .header-tool {
            width: 60%;
        }
    }

    .chat-content-wrapper {
        position: relative;

        width: 100%;
        height: 31rem;

        overflow: auto;

        padding: 1.5rem;

        display: flex;
        flex-direction: column;

        .chat-item-wrapper {
            position: relative;

            height: auto;

            align-items: end;

            &.right {
                justify-content: flex-end;

                .chat-content {
                    .chat-text-wrap {
                        .chat-text-content {
                            border-radius: 0.5rem 0.5rem 0rem 0.5rem;

                            &::before {
                                border-bottom: 5px solid transparent;
                                border-left: 5px solid transparent;
                                border-right: 5px solid #7269ef;
                                border-right-color: #7269ef;
                                border-top: 5px solid #7269ef;
                                border-top-color: #7269ef;
                                left: auto;
                                right: 0;
                            }
                        }
                    }

                    .chat-name {
                        text-align: right;
                    }
                }
            }

            .chat-avatar {
                position: relative;

                img {
                    @include image(2.25rem, 2.25rem);
                }
            }

            .chat-content {
                width: 41rem;

                .chat-text-wrap {
                    width: 100%;

                    .chat-text-content {
                        position: relative;

                        background-color: #7269ef;

                        padding: 0.75rem 1.25rem;

                        border-radius: 0.5rem 0.5rem 0.5rem 0;

                        .chat-text {
                            width: 100%;

                            font-size: 0.9rem;
                            color: #fff;

                            text-align: left;
                        }

                        .chat-time {
                            width: 100%;

                            font-size: 0.75rem;
                            color: #ccc;

                            margin: 0.25rem 0 0;
                        }

                        &::before {
                            border-bottom: 5px solid transparent;
                            border-left: 5px solid #7269ef;
                            border-left-color: #7269ef;
                            border-right: 5px solid transparent;
                            border-top: 5px solid #7269ef;
                            border-top-color: #7269ef;
                            bottom: -8px;
                            content: "";
                            left: 0;
                            position: absolute;
                            right: auto;
                        }
                    }
                }

                .chat-name {
                    color: #495057;
                }
            }
        }
    }

    .chat-input-section {
        border-top: 0.01rem solid #f0eff5;

        padding: 1rem;

        .textfield {
            width: 70%;
        }

        .chat-input-tool {
            width: 30%;

            display: flex;
            justify-content: flex-end;

            .tool-icon {
                padding: 0.7rem;
            }

            .send-icon {
                border-radius: 0.5rem;
                background-color: #7269ef;
                color: #fff;
            }
        }
    }
}
