.dashboard-container {
    .dashboard-side {
        width: 35%;

        .dashboard-side-menu {
            position: relative;

            width: 15%;
            height: 100%;

            box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);

            z-index: 9;

            transition: background 0.3s ease-in-out;

            &.dark {
                background: #36404a;

                transition: background 0.3s ease-in-out;
            }

            .side-menu-logo {
                width: 100%;
                height: 4.4rem;

                img {
                    width: 2rem;
                    height: 2rem;
                }
            }

            .side-menu-pills {
                .pills-item {
                    width: 3.5rem;
                    height: 3.5rem;

                    margin: 0 auto 1rem auto;

                    .isActive {
                        color: #7269ef;
                    }
                }
            }
        }
    }

    .dashboard-chat {
        box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);

        &.dark {
            background: #262e35;
        }
    }
}
